<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./pages/headerfiles") %>
    <title>Forgot Password</title>
  </head>
  <body>
    <section id="wrapper">
      <div class="container">
        <div class="row">
          <div id="content-wrapper" class="col-12">
            <section id="main">
              <div class="login-page">
                <div class="block-title">
                  <h2 class="title"><span>Forgot Password</span></h2>
                </div>

                <form id="adminforgotpass">
                  <div class="row mt-3">
                    <div class="col-sm-6">
                      <label for="email" class="form-label"
                        >Enter your Email:</label
                      >
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="email"
                        name="email"
                        id="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="row mt-5">
                    <div class="col-sm-12 text-center">
                      <button
                        type="button"
                        class="btn btn-primary"
                        onclick="sendAdminOTP()"
                      >
                        Generate OTP
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <script>
      let sendAdminOTP = () => {
        let email = document.getElementById("email").value;
        let form = document.getElementById("adminforgotpass");
        let fd = new FormData(form);
        fetch("/admin/generatePassword", { method: "POST", body: fd })
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            if (res.error == true) {
              alert(res.message);
            } else {
              console.log(res);
              alert("OTP Generated Successfully");
              window.location.href = "/admin/OTPVerification/" + email;
            }
          });
      };
    </script>
  </body>
</html>
