<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./pages/headerfiles") %> <%- include("./pages/scriptfiles") %>
    <title>Forgot Password</title>
  </head>
  <body>
    <%- include("./pages/header") %>
    <div class="container">
      <div class="row">
        <div class="block-title">
          <h2 class="title pt-5"><span>Forgot Password</span></h2>
        </div>
      </div>
      <form id="userforgotpass">
        <div class="row mt-3">
          <div class="col-sm-6">
            <label for="email" class="form-label">Enter your Email:</label>
          </div>
          <div class="col-sm-6">
            <input type="email" name="email" id="email" class="form-control" />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-12 text-center">
            <button
              type="button"
              class="btn btn-primary"
              onclick="sendUserOTP()"
            >
              Generate OTP
            </button>
          </div>
        </div>
      </form>
    </div>
    <%- include("./pages/footer") %>
    <script>
      let sendUserOTP = () => {
        let email = document.getElementById("email").value;
        let form = document.getElementById("userforgotpass");
        let fd = new FormData(form);
        fetch("/user/generateUserPassword", { method: "POST", body: fd })
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            if (res.error == true) {
              alert(res.message);
            } else {
              console.log(res);
              alert("OTP Generated Successfully");
              window.location.href = "/user/userOTPVerification/" + email;
            }
          });
      };
    </script>
  </body>
</html>
