<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <%-include("./pages/headerfiles.ejs")%>
    <!-- JavaScripts
  ============================================= -->
    <%-include("./pages/scriptfiles.ejs")%>

    <!-- Document Title
  ============================================= -->
    <title>ToyTown</title>
  </head>

  <body id="index" onload="viewMyOrders()">
    <div class="modal" tabindex="-1" role="dialog" id="productDetailsModal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Product Details</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="modalForm"></div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <main>
      <div id="menu_wrapper" class=""></div>
      <!-- --------------------loader------------ -->

      <!-- --------------------header------------ -->
      <%-include("./pages/userNavbar.ejs")%>
      <!-- -------------------mobile media---------- -->
      <div
        id="mobile_top_menu_wrapper"
        class="hidden-lg-up"
        style="display: none"
      >
        <div id="top_menu_closer">
          <i class="material-icons"></i>
        </div>
        <div class="js-top-menu mobile" id="_mobile_top_menu"></div>
      </div>
      <div class="breadcrumb-container">
        <nav data-depth="2" class="breadcrumb container">
          <h1 class="h1 category-title breadcrumb-title">Order Details</h1>
          <ul>
            <li>
              <a href="/">
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>Order Details</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- --------------------hometop------------ -->
      <div id="dataResult"></div>
      <!-- -----------------footer-------------------- -->
      <%-include("./pages/footer.ejs")%>
    </main>
    <script>
      let viewMyOrders = () => {
        fetch("/user/getUserOrders")
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            if (res.error === false) {
              let ans = `<table class='table'>
      <thead>
      <tr class="text-center">
      <th>Order ID</th>
      <th>AMOUNT</th>
      <th>PAYMENT MODE</th>
      <th>DATE</th>
      <th>PRODUCT DETAILS</th>
      </tr>
      </thead>`;
              let records = res.record;
              console.log(records);
              if (records.length > 0) {
                records.forEach((data) => {
                  ans += `<tr class="text-center">
      <td>${data.id}</td>
      <td>$${data.total}</td>
      <td>${data.payment_mode}</td>
      <td>${data.date_time}</td>
      
      
      <td><button type="button" onclick="viewProductDetails('${data.id}')">Check</td>
      </tr>`;
                });
              } else {
                ans += `<tr class="text-center">
                        <td colspan="12"> <div class="alert alert-danger">No data found</div></td></tr>`;
              }

              ans += `</table>`;
              document.getElementById("dataResult").innerHTML = ans;
            }
          });
      };
      let viewProductDetails = (id) => {
        $("#productDetailsModal").modal("show");
        fetch("/user/getProductDetails/" + id)
          .then((res) => res.json())
          .then((res) => {
            console.log(res);

            let ans = ``;
            for (let i = 0; i < res.records.length; i++) {
              let x = res.records[i];
              ans += `<form id="userproduct">
              <div class="form-group row">
                <label class="col-md-3 col-sm-12 form-control-label required"
                  >Photo</label
                >
                <img src="${x.photo}" height="50" width="50"/>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-sm-12 form-control-label required"
                  >Price</label
                >
                <div class="col-md-9 col-sm-12">
                  <input
                    class="form-control"
                    name="price"
                    type="number"
                    id="price"
                    value="${x.price}"
                    readonly
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-sm-12 form-control-label required"
                  >Quantity</label
                >
                <div class="col-md-9 col-sm-12">
                  <input
                    class="form-control"
                    name="quantity"
                    type="number"
                    id="quantity"
                    value="${x.quantity}"
                    readonly
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-sm-12 form-control-label required"
                  >Amount</label
                >
                <div class="col-md-9 col-sm-12">
                  <input
                    class="form-control"
                    name="amount"
                    type="number"
                    id="amount"
                    value="${x.net_price}"
                    readonly
                  />
                </div>
              </div>
              
              <button type="button" class="btn btn-primary" onclick="Reviews('${x.id}')">Send</button>
            </form>`;
            }
            document.getElementById("modalForm").innerHTML = ans;
          });
      };
      let Reviews = (id) => {
        let form = document.getElementById("modalForm");
        let fd = new FormData(form);

        fetch("/submitReviews", { body: fd, method: "POST" })
          .then((res) => res.json())
          .then((res) => {
            if (res.error == false) {
              Swal.fire({
                icon: "success",
                title: "Review Submitted",
                timer: 3000,
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "There is an error",
              });
            }
          });
      };
    </script>
  </body>
</html>
