<div class="nav-full-width">
  <div class="container">
    <div class="row">
      <!-- ------------------mega menu----------- -->

      <ul class="top-menu" id="top-menu" data-depth="0">
        <li class="cms-page" id="category-12">
          <a class="dropdown-item" href="/admin/logout" data-depth="0"
            >Logout</a
          >
        </li>
        <li class="category" id="category-13">
          <a class="dropdown-item" href="/admin/changePassword" data-depth="0"
            >Change Password</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/categories">Manage Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">Manage Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orders">Orders</a>
        </li>
      </ul>
    </div>
  </div>
</div>
