<header id="header" class="home">
  <div class="header-nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 left-nav">
          <!-- Block search  -->
          <div id="_desktop_seach_widget">
            <div id="search_widget" class="search-widget">
              <span class="search-logo hidden-lg-up">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                  <symbol id="magnifying-glass" viewBox="0 0 910 910">
                    <title>magnifying-glass</title>
                  </symbol>
                </svg>
                <svg class="icon" viewBox="0 0 30 30">
                  <use xlink:href="#magnifying-glass" x="22%" y="20%"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 right-nav">
          <div class="userinfo-inner">
            <ul class="userinfo">
              <li class="log-in">
                <a href="/user/login" id="customer_login_link">Log in</a>
              </li>
              <li class="create_account">
                <a href="/user/signup" id="customer_register_link"
                  >Create Account</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- --------------------desktop_logo------------ -->
        <div id="desktop_logo" class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
          <a href="index.html">
            <img
              class="logo img-responsive"
              src="/assets/images/header-logo.png"
              alt="Demo Shop"
            />
          </a>
        </div>
        <div
          class="header-top-right offset-xl-2 col-xl-7 col-lg-9 col-md-7 col-sm-12 col-xs-12"
        >
          <!-- --------------------services------------ -->
          <div id="ishiservices" class="ishiservicesblock">
            <div class="ishiservices owl-carousel">
              <div class="services item">
                <a href="#">
                  <div
                    class="service-img"
                    style="background-image: url(/assets/images/services/1.png)"
                  ></div>
                  <div class="service-block">
                    <div class="service-title">Free Worldwide Delivery</div>
                    <div class="service-desc">Global Free Shipping</div>
                  </div>
                </a>
              </div>
              <div class="services item">
                <a href="#">
                  <div
                    class="service-img"
                    style="background-image: url(/assets/images/services/2.png)"
                  ></div>
                  <div class="service-block">
                    <div class="service-title">Free Gift Voucher</div>
                    <div class="service-desc">Free Voucher with Purchase</div>
                  </div>
                </a>
              </div>
              <div class="services item">
                <a href="#">
                  <div
                    class="service-img"
                    style="background-image: url(/assets/images/services/3.png)"
                  ></div>
                  <div class="service-block">
                    <div class="service-title">Money Back Guarantee</div>
                    <div class="service-desc">
                      Satisfaction or Refund Guaranteed
                    </div>
                  </div>
                </a>
              </div>
              <div class="services item">
                <a href="#">
                  <div
                    class="service-img"
                    style="background-image: url(/assets/images/services/4.png)"
                  ></div>
                  <div class="service-block">
                    <div class="service-title">24X7 Support Assistance</div>
                    <div class="service-desc">Help Around the Clock</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-full-width">
    <div class="container">
      <div class="row">
        <!-- ------------------mega menu----------- -->
        <div id="_desktop_top_menu" class="menu js-top-menu hidden-sm-down">
          <ul class="top-menu" id="top-menu" data-depth="0">
            <li class="cms-page" id="category-12">
              <a class="dropdown-item" href="/" data-depth="0"> Home </a>
            </li>
            <li class="cms-page" id="category-12">
              <a class="dropdown-item" href="/collection" data-depth="0">
                Collections
              </a>
            </li>

            <li class="cms-page" id="cms-page-4">
              <a class="dropdown-item" href="/aboutUs" data-depth="0">
                About us
              </a>
            </li>

            <li class="cms-page" id="cms-page-1">
              <a class="dropdown-item" href="/contactUs" data-depth="0">
                Contact us
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- -------------------shopping cart----------- -->

        <!-- -------------------headercontact----------- -->
        <div class="contact-num">
          <a href="/contactUs">
            <div class="call-num">
              <i class="fa-solid fa-phone"></i> +91-9041097267
            </div>
          </a>
        </div>
        <!-- ------------------mobile media--------- -->
        <div id="menu-icon" class="menu-icon hidden-lg-up">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div id="_mobile_cart"></div>
        <div id="_mobile_seach_widget"></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</header>
