<header id="header" class="home">
  <div class="header-nav">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 left-nav">
          <!-- Block search  -->
          <div id="_desktop_seach_widget">
            <div id="search_widget" class="search-widget">
              <span class="search-logo hidden-lg-up">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                  <symbol id="magnifying-glass" viewBox="0 0 910 910">
                    <title>magnifying-glass</title>
                    <path
                      d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5 S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9 C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z"
                    />
                  </symbol>
                </svg>
                <svg class="icon" viewBox="0 0 30 30">
                  <use xlink:href="#magnifying-glass" x="22%" y="20%"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 right-nav">
          <div class="userinfo-inner">
            <ul class="userinfo">
              <li class="log-in">
                <a href="/user/logout" id="customer_login_link">Logout</a>
              </li>
              <li class="create_account">
                <a href="/user/changePassword" id="customer_register_link"
                  >Change Password</a
                >
              </li>
              <li class="">
                <a href="/user/orderDetails">My Orders</a>
              </li>
              <li class="wishlist">
                <a href="/wishlist">Wishlist</a>
              </li>
              <li class="checkout">
                <a href="/user/checkOut">Checkout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- --------------------desktop_logo------------ -->
        <div id="desktop_logo" class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
          <a href="index.html">
            <img
              class="logo img-responsive"
              src="assets/images/header-logo.png"
              alt="Demo Shop"
            />
          </a>
        </div>
        <div
          class="header-top-right offset-xl-2 col-xl-7 col-lg-9 col-md-7 col-sm-12 col-xs-12"
        >
          <!-- --------------------services------------ -->
          <div id="ishiservices" class="ishiservicesblock">
            <div class="ishiservices owl-carousel">
              <div class="services item">
                <a href="#">
                  <div
                    class="service-img"
                    style="background-image: url(assets/images/services/1.png)"
                  ></div>
                  <div class="service-block">
                    <div class="service-title">Free Worldwide Delivery</div>
                    <div class="service-desc">Global Free Shipping</div>
                  </div>
                </a>
              </div>
              <div class="services item">
                <a href="#">
                  <div
                    class="service-img"
                    style="background-image: url(assets/images/services/2.png)"
                  ></div>
                  <div class="service-block">
                    <div class="service-title">Free Gift Voucher</div>
                    <div class="service-desc">Free Voucher with Purchase</div>
                  </div>
                </a>
              </div>
              <div class="services item">
                <a href="#">
                  <div
                    class="service-img"
                    style="background-image: url(assets/images/services/3.png)"
                  ></div>
                  <div class="service-block">
                    <div class="service-title">Money Back Guarantee</div>
                    <div class="service-desc">
                      Satisfaction or Refund Guaranteed
                    </div>
                  </div>
                </a>
              </div>
              <div class="services item">
                <a href="#">
                  <div
                    class="service-img"
                    style="background-image: url(assets/images/services/4.png)"
                  ></div>
                  <div class="service-block">
                    <div class="service-title">24X7 Support Assistance</div>
                    <div class="service-desc">Help Around the Clock</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-full-width">
    <div class="container">
      <div class="row">
        <!-- ------------------mega menu----------- -->
        <div id="_desktop_top_menu" class="menu js-top-menu hidden-sm-down">
          <ul class="top-menu" id="top-menu" data-depth="0">
            <li class="cms-page" id="category-12">
              <a class="dropdown-item" href="/" data-depth="0"> Home </a>
            </li>
            <li class="cms-page" id="category-12">
              <a class="dropdown-item" href="/collection" data-depth="0">
                Collections
              </a>
            </li>
            <li class="cms-page" id="cms-page-4">
              <a class="dropdown-item" href="/aboutUs" data-depth="0">
                About us
              </a>
            </li>
            <li class="cms-page" id="cms-page-1">
              <a class="dropdown-item" href="/contactUs" data-depth="0">
                Contact us
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- -------------------shopping cart----------- -->
        <div id="_desktop_cart">
          <div class="blockcart cart-preview inactive">
            <div class="header">
              <span class="cart-link">
                <span class="cart-img">
                  <a href="/user/myCart">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      style="display: none"
                    >
                      <symbol id="shopping-cart" viewBox="0 0 850 850">
                        <title>shopping-cart</title>
                        <path
                          d="M194.59,382.711c-35.646,0-64.646,29-64.646,64.646s29,64.646,64.646,64.646c35.646,0,64.646-29,64.646-64.646
                            S230.235,382.711,194.59,382.711z M194.59,473.215c-14.261,0-25.858-11.597-25.858-25.858c0-14.261,11.597-25.858,25.858-25.858
                            c14.254,0,25.858,11.597,25.858,25.858C220.448,461.617,208.851,473.215,194.59,473.215z"
                        ></path>
                        <path
                          d="M385.941,382.711c-35.646,0-64.646,29-64.646,64.646s29,64.646,64.646,64.646c35.646,0,64.646-29,64.646-64.646
                            S421.587,382.711,385.941,382.711z M385.941,473.215c-14.261,0-25.858-11.597-25.858-25.858
                            c0-14.261,11.597-25.858,25.858-25.858c14.261,0,25.858,11.597,25.858,25.858C411.799,461.617,400.202,473.215,385.941,473.215z"
                        ></path>
                        <path
                          d="M498.088,126.274c-3.685-4.629-9.27-7.324-15.179-7.324H143.326l-17.629-89.095c-1.545-7.803-7.699-13.873-15.528-15.308
                            L32.594,0.325C22.038-1.621,11.953,5.368,10.02,15.905s5.042,20.641,15.58,22.574l64.607,11.843l56.914,287.667
                            c1.797,9.083,9.768,15.631,19.025,15.631h271.512c9.031,0,16.86-6.225,18.896-15.037l45.252-195.876
                            C503.137,136.947,501.767,130.896,498.088,126.274z M422.233,314.833H182.074l-31.075-157.089h307.519L422.233,314.833z"
                        ></path>
                      </symbol>
                    </svg>
                    <svg class="icon" viewBox="0 0 40 40">
                      <use xlink:href="#shopping-cart" x="15%" y="18%"></use>
                    </svg>
                  </a>
                </span>
                <span class="cart-content">
                  <span class="cart-name">
                    <span class="cart-products-count" id="count"></span> items
                  </span>
                  <span class="cart-products-count hidden-lg-up">3</span>
                </span>
              </span>
            </div>
          </div>
        </div>
        <!-- -------------------headercontact----------- -->
        <div class="contact-num">
          <a href="contactpage.html">
            <div class="call-img">
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                <symbol id="call" viewBox="0 0 50 50">
                  <title>call</title>
                  <path
                    d="M16.333,0C7.327,0,0,7.327,0,16.334c0,9.006,7.326,16.333,16.333,16.333c0.557,0,1.007-0.451,1.007-1.006 c0-0.556-0.45-1.007-1.007-1.007c-7.896,0-14.318-6.424-14.318-14.319c0-7.896,6.422-14.32,14.318-14.32 c7.896,0,14.317,6.424,14.317,14.32c0,3.299-1.756,6.571-4.269,7.955c-0.913,0.502-1.903,0.751-2.959,0.761 c0.634-0.378,1.183-0.887,1.591-1.531c0.08-0.121,0.186-0.226,0.238-0.359c0.328-0.789,0.357-1.684,0.555-2.516 c0.243-1.066-4.658-3.143-5.084-1.815c-0.154,0.493-0.39,2.048-0.699,2.458c-0.275,0.365-0.953,0.193-1.377-0.168 c-1.117-0.952-2.364-2.352-3.458-3.457l0.002-0.001c-0.028-0.029-0.062-0.062-0.092-0.091c-0.031-0.03-0.062-0.062-0.093-0.092l0,0 c-1.106-1.093-2.506-2.338-3.457-3.458c-0.36-0.424-0.534-1.1-0.168-1.376c0.41-0.31,1.966-0.543,2.458-0.698 c1.326-0.425-0.75-5.329-1.816-5.084c-0.832,0.195-1.727,0.225-2.516,0.552c-0.134,0.056-0.238,0.16-0.359,0.24 c-2.799,1.775-3.16,6.083-0.428,9.292c1.041,1.228,2.127,2.416,3.245,3.576l-0.006,0.004c0.031,0.031,0.063,0.06,0.095,0.09 c0.03,0.031,0.059,0.062,0.088,0.095l0.006-0.006c1.16,1.118,2.535,2.764,4.769,4.255c4.703,3.141,8.312,2.264,10.438,1.098 c3.67-2.021,5.312-6.338,5.312-9.719C32.667,7.327,25.339,0,16.333,0z"
                  ></path>
                </symbol>
              </svg>
              <svg class="icon" viewBox="0 0 40 40">
                <use xlink:href="#call" x="20%" y="18%"></use>
              </svg>
            </div>
            <div class="call-num">+91-9041097267</div>
          </a>
        </div>
        <!-- ------------------mobile media--------- -->
        <div id="menu-icon" class="menu-icon hidden-lg-up">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div id="_mobile_cart"></div>
        <div id="_mobile_seach_widget"></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</header>
